<% provide(:title, @user.name) %>
<h1>
	<div class="row">
		<aside class="span8">
			<section>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</section>
		</aside>
	</div>
</h1>			
